*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 15px;
    
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-around;
}

header div.top-header p{
    width: 40%;
    text-align: center;
    margin-top: 50px;
    
}

header{
    background-color: #EAC926;
    padding: 15px;
}


header .form{
    width: 30%;
}

.logo__container {
    width: 33%;
    text-align: left;
}

header div.logo{
    padding: 20px;
    width: 50%;
   
}

.logo {
    max-width: 270px;
}

header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 20px;
    justify-content: center;
    margin: auto; 
}

header nav{
    font-size: 12px;
    margin-left: 20px;
}

.nav__items {
    display: none;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin-top: -15px;
}
.menu {
    list-style-type: none;
    padding: 0;
}
  
.menu li {
    display: inline-block;
    margin-right: 20px; 
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 0.7rem;
   
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    padding: 0.7rem;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color:#03264C;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}







main.login {
    max-width: 500px;
    margin: 50px auto; 
    padding: 20px;
    background-color: #f0eeee;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    transform-origin: top left;
    border: 2px solid #000;
}

main.login input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 20px;
}

main.login input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main.login input[type="submit"]:hover {
    background-color: #0022AA;
}

h4 {
    font-size: 35px;
    color: black;
    text-align: center;
    margin-top: 15px;
}

h5 {
    text-align: center;
    font-size: 20px;
}

.enlace-login {
    text-decoration: underline;
    color: black;
}

h6{
    font-size: 15px;
    color: red
    
}




.footer {
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.icon-container {
    text-align: center;
    flex: 1;
    margin: 10px;
}

.icon {
    font-size: 2em;
    color: #2c5caf;
    transition: color 0.3s;
}

.icon:hover {
    color: #39ec21;
}

.title {
    font-weight: bold;
    font-size: 1.5em;
}

.info {
    font-size: 1em;
    color: #666;
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
}

.copyright {
    font-size: 15px;
    color: #666;
    text-align: left;
    padding: 10px;
    width: 100%;
    order: 1;
    margin-left: 20px;
    margin-top: 20px;
}




@media (min-width: 361px) {
    main section article .description {
        display: block;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article {
        width: 45%;
    }

    .price,
    .discount {
        width: 50%;
    }

    header .burger-menu {
        display: none;
    }
}


@media (max-width: 360px) {
    
    header nav,
    .nav__items,
    .menu-container,
    .menu li {
        
        display: none;
    }

    
    header .burger-menu {
        display: block;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .icon-container {
        margin: 10px ;
    }

    .copyright {
        order: 2;
        margin-left: 0;
        margin-top: 10px;
    }

    header .form {
        display: flex;
        align-items: right; 
        font-size: 20px;
        margin: auto;
        width: 80%; 
    }
}


@media (min-width: 769px) {
    
    header .site-navbar,
    header .login-navbar {
        display: flex;
    }

   
    header .burger-menu {
        display: none;
    }

    .form__register {
        background-color: #ebebeb;
        width: 40%;
        margin: 0 auto;
        padding: 1rem;
    }

    .form__login {
        width: 40%;
    }

    main section div.products article {
        width: 22%;
    }

}





