* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
  
div.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}
  
header {
    background-color: #EAC926;
    padding: 15px;
}
  

form[name="form1"] {
    width: 50%;
    display: flex;
    align-items: center;
    
}
  
.logo {
    width: 50%;

}
    
input[type="search"] {
    width: 85%;
    padding: 2px;
    
}
  
button {
    width:15%;
    padding: 2px;
    
}


p {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
}
  
.menu-container {
    display: none;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #03264C;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
    cursor: pointer;
}


/* Estilos del formulario de inicio de sesión para dispositivos móviles */
.login {
    max-width: 360px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #000000; /* Añadido borde */
    border-radius: 10px; 
}

.login h4 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.login h5 {
    font-size: 12px;
    margin-bottom: 10px;
}

.login a.enlace-login {
    color: #3498db;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: 2px solid #000;
}

.login h6 {
    font-size: 10px;
    color: #e74c3c;
    margin-top: -10px;
    margin-bottom: 10px;
}

.login input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.login input[type="submit"]:hover {
    background-color: #2980b9;
}


footer {
    background-color: white;
}
  
footer div {
    text-align: center;
    padding: 5px;
}
  
footer div .icon {
    font-size: 2em;
    color: #1259c3;
}
.icon:hover {
    color: #39ec21;
}

footer div .title {
    font-weight: bold;
    font-size: 1.5em;
    color: #666;
}
  
footer div .description {
    font-size: 1em;
    color: #666;
}


@media (min-width: 361px){ 
    
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    } 

    .footer {
        background-color: rgb(236, 236, 236);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
    }

    .icon-container {
        text-align: center;
        flex: 1;
        margin: 10px;
    }
    
    .icon {
        font-size: 2em;
        color: #2c5caf;
        transition: color 0.3s;
    }
    
    .icon:hover {
        color: #39ec21;
    }
    
    .title {
        font-weight: bold;
        font-size: 1.5em;
    }
    
    .info {
        font-size: 1em;
        color: #666;
        text-align: center;
        max-width: 350px;
        margin: 0 auto;
    }
    
    .copyright {
        font-size: 15px;
        color: #666;
        text-align: left;
        padding: 10px;
        width: 100%;
        order: 1;
        margin-left: 20px;
        margin-top: 20px;
    }  
      
    header .burger-menu {
        display: none;
    }

    .menu-container {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    }
    .menu {
        list-style-type: none;
        padding: 0;
        justify-content: space-between;
    }
      
    .menu li {
        display: inline-block;
        padding: 5px;
    }
    
    .logo {
        width: 33%;
        /*max-width: 270px;*/
        /*margin-right: 50px;*/
    }

    form[name="form1"]{
        width: 34%;
        box-sizing: border-box;
        font-size: 16px; 
    }
    
    p{
        font-size: 10px;
        width: 33%;
        align-self: center;
    }

  

}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }

    .footer {
        background-color: rgb(236, 236, 236);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
    }

    .icon-container {
        text-align: center;
        flex: 1;
        margin: 10px;
    }
    
    .icon {
        font-size: 2em;
        color: #2c5caf;
        transition: color 0.3s;
    }
    
    .icon:hover {
        color: #39ec21;
    }
    
    .title {
        font-weight: bold;
        font-size: 1.5em;
    }
    
    .info {
        font-size: 1em;
        color: #666;
        text-align: center;
        max-width: 350px;
        margin: 0 auto;
    }
    
    .copyright {
        font-size: 15px;
        color: #666;
        text-align: left;
        padding: 10px;
        width: 100%;
        order: 1;
        margin-left: 20px;
        margin-top: 20px;
    }    

    header .burger-menu {
        display: none;
    }

    .menu-container {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    }
    .menu {
        list-style-type: none;
        padding: 0;
        justify-content: space-between;
    }
      
    .menu li {
        display: inline-block;
        padding: 5px;
    }
    
    .logo {
        width: 33%;
        /*max-width: 270px;*/
        /*margin-right: 50px;*/
    }

    form[name="form1"]{
        width: 34%;
        box-sizing: border-box;
        font-size: 16px; 
        justify-content: center;

    }

    input{
       max-width: 500px;
    }

    button{
        max-width: 30px;
    }
    
    p{
        font-size: 12px;
        width: 33%;
        align-self: center;
    }
    
    
}





