* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
  
div.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}
  
header {
    background-color: #EAC926;
    padding: 15px;
}
  

form[name="form1"] {
    width: 50%;
    display: flex;
    align-items: center;
    
}
  
.logo {
    width: 50%;

}
    
input[type="search"] {
    width: 85%;
    padding: 2px;
    
}
  
button {
    width:15%;
    padding: 2px;
    
}


p {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
}
  
.menu-container {
    display: none;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #03264C;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
    cursor: pointer;
}



main.register {
    width: 100%;
    padding: 10px;
    background-color: #f0eeee;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
}

main.register input,
main.register label,
main.register input[type="submit"],
main.register input[type="reset"] {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin: center;
}

.profile {
    display: flex;
    align-items: center;
}

.profile input[type="radio"] {
    width: 80px;
    height: 80px;
    margin-right: 5px; /* Ajusta el espacio entre el botón de opción y el texto */
}

.profile label {
    width: auto; /* Deja que el ancho del texto se ajuste automáticamente */
    margin-top: 5px; /* Ajusta el espacio entre el botón de opción y el texto */
}




h4 {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;

}

.interests input[type="checkbox"] {
    height: 30px;
    margin-bottom: 5px; 

}

.interests label {
    width: auto; /* Deja que el ancho del texto se ajuste automáticamente */
}
.interests div {
    width: 100%; /* O ajusta el ancho según tus necesidades */
    display: flex;
    align-items: center;
    margin: 10px 0; /* Ajusta el espacio entre los elementos */
}

h5 {
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
}

.enlace-login {
    text-decoration: underline;
    color: black;
}

footer {
    background-color: white;
}
  
footer div {
    text-align: center;
    padding: 5px;
}
  
footer div .icon {
    font-size: 2em;
    color: #1259c3;
}
.icon:hover {
    color: #39ec21;
}

footer div .title {
    font-weight: bold;
    font-size: 1.5em;
    color: #666;
}
  
footer div .description {
    font-size: 1em;
    color: #666;
}

@media (min-width: 361px){ 
    
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    } 

    .footer {
        background-color: rgb(236, 236, 236);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
    }

    .icon-container {
        text-align: center;
        flex: 1;
        margin: 10px;
    }
    
    .icon {
        font-size: 2em;
        color: #2c5caf;
        transition: color 0.3s;
    }
    
    .icon:hover {
        color: #39ec21;
    }
    
    .title {
        font-weight: bold;
        font-size: 1.5em;
    }
    
    .info {
        font-size: 1em;
        color: #666;
        text-align: center;
        max-width: 350px;
        margin: 0 auto;
    }
    
    .copyright {
        font-size: 15px;
        color: #666;
        text-align: left;
        padding: 10px;
        width: 100%;
        order: 1;
        margin-left: 20px;
        margin-top: 20px;
    }  
      
    header .burger-menu {
        display: none;
    }

    .menu-container {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    }
    .menu {
        list-style-type: none;
        padding: 0;
        justify-content: space-between;
    }
      
    .menu li {
        display: inline-block;
        padding: 5px;
    }
    
    .logo {
        width: 33%;
        /*max-width: 270px;*/
        /*margin-right: 50px;*/
    }

    form[name="form1"]{
        width: 34%;
        box-sizing: border-box;
        font-size: 16px; 
    }
    
    p{
        font-size: 10px;
        width: 33%;
        align-self: center;
    }

    input[type="search"]{
        max-width: 300px;
    }
    
    main.register {
        width: 100%;
        max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
        box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
        padding: 10px;
        background-color: #f0eeee;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto; /* Centra horizontalmente */
        margin-top: 50px; /* Ajusta el margen superior según tus necesidades */
    }
    
    main.register input,
    main.register label,
    main.register input[type="submit"],
    main.register input[type="reset"] {
        width: 100%; /* Ajusta el ancho para compensar el padding */
        font-size: 16px;
        padding: 10px;
        border-radius: 20px;
        margin-top: 10px;
    }
    
    .profile input[type="radio"] {
        width: 60px;
        height: 60px;
        margin-right: 5px;
    }
    
    .interests input[type="checkbox"] {
        height: 30px;
        margin-bottom: 5px;
    }
    
    .interests div {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    
    h5 {
        text-align: center;
        margin-top: 0px;
        font-size: 16px;
    }
    
    .enlace-login {
        text-decoration: underline;
        color: black;
    }
    
    
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }

    .footer {
        background-color: rgb(236, 236, 236);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
    }

    .icon-container {
        text-align: center;
        flex: 1;
        margin: 10px;
    }
    
    .icon {
        font-size: 2em;
        color: #2c5caf;
        transition: color 0.3s;
    }
    
    .icon:hover {
        color: #39ec21;
    }
    
    .title {
        font-weight: bold;
        font-size: 1.5em;
    }
    
    .info {
        font-size: 1em;
        color: #666;
        text-align: center;
        max-width: 350px;
        margin: 0 auto;
    }
    
    .copyright {
        font-size: 15px;
        color: #666;
        text-align: left;
        padding: 10px;
        width: 100%;
        order: 1;
        margin-left: 20px;
        margin-top: 20px;
    }    

    header .burger-menu {
        display: none;
    }

    .menu-container {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    }
    .menu {
        list-style-type: none;
        padding: 0;
        justify-content: space-between;
    }
      
    .menu li {
        display: inline-block;
        padding: 5px;
    }
    
    .logo {
        width: 33%;
        /*max-width: 270px;*/
        /*margin-right: 50px;*/
    }

    form[name="form1"]{
        width: 34%;
        box-sizing: border-box;
        font-size: 16px; 
        justify-content: center;

    }

    input[type="search"]{
       max-width: 500px;
    }

    button{
        max-width: 30px;
    }
    
    p{
        font-size: 12px;
        width: 33%;
        align-self: center;
    }

    main.register {
        width: 50%; /* Ajusta el ancho según tus necesidades */
        max-width: 500px; /* Ajusta el ancho máximo según tus necesidades */
        box-sizing: border-box;
        padding: 20px;
        background-color: #f0eeee;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 2px solid #000;
        display: flex;
        flex-direction: column; /* Cambiado a dirección de columna */
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 50px;
    }

    main.register input,
    main.register label,
    main.register input[type="submit"],
    main.register input[type="reset"] {
        width: 100%;
        font-size: 16px;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
        
        
    }

    .profile input[type="radio"] {
        width: 80px;
        height: 80px;
        margin-right: 5px;
    }

    .interests input[type="checkbox"] {
        height: 30px;
        margin-bottom: 5px;
    }

    .interests div {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0;
    }

    h5 {
        text-align: center;
        margin-top: 0px;
        font-size: 16px;
    }

    .enlace-login {
        text-decoration: underline;
        color: black;
    }
    
    
}