* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
  
div.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}
  
header {
    background-color: #EAC926;
    padding: 15px;
}
  

form[name="form1"] {
    width: 50%;
    display: flex;
    align-items: center;
    
}
  
.logo {
    width: 50%;

}
    
input {
    width: 85%;
    padding: 2px;
    
}
  
button {
    width:15%;
    padding: 2px;
    
}


p {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
}
  
.menu-container {
    display: none;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #03264C;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
    cursor: pointer;
}

div.last-visit,
div.offers {
    display: flex;
    flex-wrap: wrap;
}

.price {
    font-size: 18px;
    width: 100%;
}

.discount {
    width: 100%;
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666;
}

.description {
    display: none;
    margin-top: 20px;
}

section.banner img {
    width: 100%;
    margin-bottom: 2rem;
}

main {
    width: 100%;
    margin: 0 auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3 {
    margin: 5px 2rem;
    font-size: 24px;
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

.main-article {
    position: relative;
}

.description {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.main-article:hover .description {
    opacity: 1;
}

.main-article i {
    transition: transform 0.3s ease;
}

.main-article:hover i {
    transform: rotate(-90deg);
}

.products article {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.products article:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


footer {
    background-color: white;
}
  
footer div {
    text-align: center;
    padding: 5px;
}
  
footer div .icon {
    font-size: 2em;
    color: #1259c3;
}
.icon:hover {
    color: #39ec21;
}

footer div .title {
    font-weight: bold;
    font-size: 1.5em;
    color: #666;
}
  
footer div .description {
    font-size: 1em;
    color: #666;
}



@media (min-width: 361px){ 
    
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    } 

    .footer {
        background-color: rgb(236, 236, 236);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
    }

    .icon-container {
        text-align: center;
        flex: 1;
        margin: 10px;
    }
    
    .icon {
        font-size: 2em;
        color: #2c5caf;
        transition: color 0.3s;
    }
    
    .icon:hover {
        color: #39ec21;
    }
    
    .title {
        font-weight: bold;
        font-size: 1.5em;
    }
    
    .info {
        font-size: 1em;
        color: #666;
        text-align: center;
        max-width: 350px;
        margin: 0 auto;
    }
    
    .copyright {
        font-size: 15px;
        color: #666;
        text-align: left;
        padding: 10px;
        width: 100%;
        order: 1;
        margin-left: 20px;
        margin-top: 20px;
    }  
      
    header .burger-menu {
        display: none;
    }

    .menu-container {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    }
    .menu {
        list-style-type: none;
        padding: 0;
        justify-content: space-between;
    }
      
    .menu li {
        display: inline-block;
        padding: 5px;
    }
    
    .logo {
        width: 33%;
        /*max-width: 270px;*/
        /*margin-right: 50px;*/
    }

    form[name="form1"]{
        width: 34%;
        box-sizing: border-box;
        font-size: 16px; 
    }
    
    p{
        font-size: 10px;
        width: 33%;
        align-self: center;
    }

}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }

    .footer {
        background-color: rgb(236, 236, 236);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
    }

    .icon-container {
        text-align: center;
        flex: 1;
        margin: 10px;
    }
    
    .icon {
        font-size: 2em;
        color: #2c5caf;
        transition: color 0.3s;
    }
    
    .icon:hover {
        color: #39ec21;
    }
    
    .title {
        font-weight: bold;
        font-size: 1.5em;
    }
    
    .info {
        font-size: 1em;
        color: #666;
        text-align: center;
        max-width: 350px;
        margin: 0 auto;
    }
    
    .copyright {
        font-size: 15px;
        color: #666;
        text-align: left;
        padding: 10px;
        width: 100%;
        order: 1;
        margin-left: 20px;
        margin-top: 20px;
    }    

    header .burger-menu {
        display: none;
    }

    .menu-container {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    }
    .menu {
        list-style-type: none;
        padding: 0;
        justify-content: space-between;
    }
      
    .menu li {
        display: inline-block;
        padding: 5px;
    }
    
    .logo {
        width: 33%;
        /*max-width: 270px;*/
        /*margin-right: 50px;*/
    }

    form[name="form1"]{
        width: 34%;
        box-sizing: border-box;
        font-size: 16px; 
        justify-content: center;

    }

    input{
       max-width: 500px;
    }

    button{
        max-width: 30px;
    }
    
    p{
        font-size: 12px;
        width: 33%;
        align-self: center;
    }
    
}